<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script type="text/javascript" src="/javascripts/Symbol.js"></script>
  <script type="text/javascript" src="/javascripts/Reel.js"></script>
  <script type="text/javascript" src="/javascripts/Panel.js"></script>
  <script type="text/javascript" src="/javascripts/GameController.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Slot Game AB</title>
</head>
<body>

  <nav>
    <a href="/">Slot Machine</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/logout">Logout</a>
    <a href="/play-list">Play List</a>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>